{% extends 'base.html.twig' %}

{% block body %}
    <section class="container-fluid container-fluid-zebra">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="s28 text-uppercase mt-5">{{ 'Gracias por utulizar nuestros servicios su pedido esta siendo processado...'|trans }}</h1>
                <h4 class="s28 text-uppercase mt-5">Referencia: {{ payment.reference }}</h4>
            </div>
        </div>
        <hr class="mt-0 mb-4">
        <div class="row">
            <div class="col-sm-12" data-controller="application--form-token">
                <span>
                    <a href="{{ payment.url }}">Ir a pagar con placetopay.com</a>
                </span>
            </div>
        </div>
    </section>
{% endblock %}