{% extends 'base.html.twig' %}

{% block body %}
    <section class="container-fluid container-fluid-zebra">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="s28 text-uppercase mt-5">Hi {{ order.customerName }}, you Order status is: {{ order.status }}</h1>
                <h4 class="s28 text-uppercase mt-5"></h4>
            </div>
        </div>
        <hr class="mt-0 mb-4">
        <div class="row">
            <div class="col-sm-12" data-controller="application--form-token">
                <span>
                        <a target="_blank" href="{{ order.payment.url }}">{{ 'view detail'|trans }}</a>
                </span>
            </div>
        </div>
    </section>
{% endblock %}